mixin footer()
	footer.footer
		ul.footer__items
			li.footer__items__item: a(href="#") Главная
			li.footer__items__item: a(href="#slider") Слайдер
			li.footer__items__item: a(href="#cards") Карточки
			li.footer__items__item: a(href="#form") Форма
			li.footer__items__item: a(href="#list") Список
			li.footer__items__item: a(href="#modal") Модалка