mixin head(page_title, scripts)
    head
        title=page_title
        meta(charset='utf-8')
        meta(name='viewport', content="width=device-width, initial-scale=1.0")
        meta(name="apple-mobile-web-app-capable", content="yes")
        meta(name="format-detection", content="telephone=no")
        link(href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous")//- BOOTSTRAP
        link(rel="stylesheet",href="https://cdn.jsdelivr.net/npm/@fancyapps/ui/dist/fancybox.css")//- FANCYBOX
        link(rel="stylesheet", href="https://unpkg.com/swiper/swiper-bundle.min.css")//- SWIPER
        link(rel='stylesheet', href='../css/style.css', media='all')//- CSS

        -   if (scripts && scripts.length)
            for script in scripts
                script(src= script)
        script(src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-U1DAWAznBHeqEIlVSCgzq+c9gqGAJn5c/t99JyeKa9xxaYpSvHU5awsuZVVFIhvj" crossorigin="anonymous")
        script(async src='../js/bundle.js')