mixin header()
	header.header
		.header__mobile
			a(href="#"): img(src="../../images/Logo.svg")
			button.toggle: img(src="../../images/icons/menu_open.svg")
		.header__menu-items
			ul.header__menu-items__list
				li.header__menu-items__list__item: a(href="#") Главная
				li.header__menu-items__list__item: a(href="#slider") Слайдер
				li.header__menu-items__list__item: a(href="#cards") Карточки
				li.header__menu-items__list__item: a(href="#form") Форма
				li.header__menu-items__list__item: a(href="#list") Список
				li.header__menu-items__list__item: a(href="#modal") Модалка