mixin list()
	.list
		h1.list__header Список
		.accordion#accordionPanelsStayOpenExample
			.accordion-item
				h2.accordion-header#flush-headingOne
					button(type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseOne" aria-expanded="false" aria-controls="flush-collapseOne").accordion-button.collapsed Список 1
				#flush-collapseOne.accordion-collapse.collapse(aria-labelledby="flush-headingOne" data-bs-parent="#accordionFlushExample")
					.accordion-body Тут как с водопроводом: количество потребляемой воды на квартиру зависит от количества людей и их потребностей. Внимание! Роутер можно взять в аренду, но в этом случае к вам может попасть устаревшее или даже неисправное оборудование, что может сказаться на качестве услуг и нашей репутации. Так же вы можете воспользоваться беспроцентной рассрочкой. 
			.accordion-item
				h2.accordion-header#flush-headingTwo
					button(type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseTwo" aria-expanded="false" aria-controls="flush-collapseTwo").accordion-button.collapsed Список 2
				#flush-collapseTwo.accordion-collapse.collapse(aria-labelledby="flush-headingTwo" data-bs-parent="#accordionFlushExample")
					.accordion-body Тут как с водопроводом: количество потребляемой воды на квартиру зависит от количества людей и их потребностей. Внимание! Роутер можно взять в аренду, но в этом случае к вам может попасть устаревшее или даже неисправное оборудование, что может сказаться на качестве услуг и нашей репутации. Так же вы можете воспользоваться беспроцентной рассрочкой. 
			.accordion-item
				h2.accordion-header#flush-headingThree
					button(type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseThree" aria-expanded="false" aria-controls="flush-collapseThree").accordion-button.collapsed Список 3
				#flush-collapseThree.accordion-collapse.collapse(aria-labelledby="flush-headingThree" data-bs-parent="#accordionFlushExample")
					.accordion-body Тут как с водопроводом: количество потребляемой воды на квартиру зависит от количества людей и их потребностей. Внимание! Роутер можно взять в аренду, но в этом случае к вам может попасть устаревшее или даже неисправное оборудование, что может сказаться на качестве услуг и нашей репутации. Так же вы можете воспользоваться беспроцентной рассрочкой. 