mixin modal()
	.modal-block
		.modal-block__mobile
			.modal-block__mobile__text
				h1 GROWTASK
				h2 Тестовое задание
			img(src="../../images/Modal-pic.png", alt="")
			.modal-block__mobile__button
				button Модальное окно
		img(src="../../images/Modal-pic2.png", alt="")