mixin slider()
	.slider
		h1.slider__header Слайдер
		.swiper
			.swiper-wrapper
				.swiper-slide
					img(src="../../images/slider-img.png", alt="")
				.swiper-slide
					img(src="../../images/slider-img.png", alt="")
				.swiper-slide
					img(src="../../images/slider-img.png", alt="")
			.swiper-button-prev
			.swiper-button-next