mixin slider()
	.slider
		h1.slider__header#slider Слайдер
		.swiper
			.swiper-wrapper
				.swiper-slide
					img(src="../../images/slider-img1.png", alt="")
				.swiper-slide
					img(src="../../images/slider-img2.png", alt="")
				.swiper-slide
					img(src="../../images/slider-img3.png", alt="")
			.swiper-button-prev
			.swiper-button-next