.form {
	position: relative;

	&-img-1,&-img-2 {
		display: none;
	}
	&-img-mobile {
		width: 100vw;
		margin-top: 50%;
	}

	&__main {
		position: absolute;
		z-index: 2;
		top: 10%;
		left: 5%;
		right: 5%;
		padding: 0 2%;
		transform: translate(-10%, -5%, -5%);
		background-color: rgba($color: #fff, $alpha: 0.9);
		padding: 5%;
	}

	&__header {
		font-family: 'Stapel';
		font-size: $headers-mobile;
	}

	&__explain {
		font-family: 'Raleway';
		font-size: $text-mobile;
		margin: 5% 0;
	}

	&__body {
		display: flex;
		flex-direction: column;

		font-family: 'Raleway';
		font-weight: 400;
		color: #808080;
		font-size: $text-mobile;

		input,textarea {
			padding: 5% 10% 5% 5%;
			border: 1px solid black;
			background-color: rgba($color: #fff, $alpha: 0.5);

			&:focus {
				border-color: red;
				transition: 0.5s;
			}
		}

		button {
			font-family: "Raleway";
			font-weight: 600;
			padding: 5% 10%;
			background-color: rgba($color: #fff, $alpha: 0.1);
			width: 100%;

			&:hover {
				color: #F63765;
				transition: 0.5s;
			}

			&:focus {
				color: #AD0E35;
			}
		}

		.button-submit {
			border: 1px solid black;
			transition: 0.5s;
			&:hover {
				background-color: #F63765;
				color: #fff;
				transition: 0.5s;
			}

			&:focus {
				background-color: #AD0E35;
				color: #fff;
				transition: 0.5s;
			}

		}

		& * {
			margin: 5% 0;
		}
	}
}

.error {
	margin: 0 0 0 5%;
	font-family: 'Raleway';
	font-weight: 500;
	color: red;
	font-size: 14/375*100vw;
	display: none;
}

@media #{$desktop} {
	.form {

		display: flex;
		justify-content: space-between;
		margin-top: 10%;
		width: 100%;
		// height: 100vh;

		&-img-mobile {
			display: none;
		}

		&-img-1,&-img-2 {
		display: block;
		width: 50%;
		height: 30%;
		}

		&__header {
			font-size: $headers-desktop;
		}

		&__explain {
			font-size: $text-desktop;
		}

		&__body {
			font-size: $text-desktop;

			&__buttons {
				display: flex;
				flex-direction: row-reverse;
				justify-content: center;

				button {
					width: 50%;
					text-align: start;
					padding-left: 0;
					padding: 2% 10% 2% 5%;
				}

				.button-submit {
					text-align: center !important;
					padding-left: 10%;
				}
			}

			input,textarea {
				padding: 2% 10% 2% 5%;
			}
		}

		&__main {
			width: 40%;
			left: 50%;
			top: 0;
			transform: translate(-50%);
			padding: 0 5%;
		}

	}

	.error {
		font-size: 14/1920*100vw;
	}

	
}