.header {
	&__mobile {
		display: flex;
		justify-content: space-between;
		align-items: center;
		margin: 5% 2%;

		button {
			background-color: #fff;
		}

		@media #{$desktop} {
			display: none;
		}
	}

	&__menu-items	{

		display: none;
		padding: 15% 0 0 0;
		position: absolute;
		z-index: 2;
		width: 100vw;
		height: 100vh;
		background-color: #fff;

		&__list {
			display: flex;
			flex-direction: column;
			align-content: space-between;

			&__item {
				margin-bottom: 10%;
				a {
					color: black;
					font-family: 'Raleway';
					font-weight: 400;
					text-decoration: none;
					font-size: 24/663*100vh;
				}

				@media #{$desktop} {
					margin: 0;
				}
			}
		}

		@media #{$desktop} {
			display: block;
			margin: 2% 333/1920*100%;
			padding: 0;
			position: relative;
			width: auto;
			height: auto;
			&__list {
				display: flex;
				flex-direction: row;
				justify-content: space-between;

			&__item {

				a {
					font-size: 24/1920*100vw;
				}
			}
		}
		}
		
	}
}
