.slider {
	margin-top: 20%;
	&__header {
		font-family: 'Stapel';
		font-size: #{$headers-mobile};
		margin-left: 2%;

		@media #{$desktop} {
			font-size: #{$headers-desktop};
			margin-left: 333/1920*100%;
		}
	}
	@media #{$desktop} {
		margin-top: 10%;
	}
}

.swiper {
	margin-top: 10%;
}

.swiper-slide {
	img {
		width: 100vw;
		@media #{$desktop} {
			height: 70%;
			width: 60vw;
		}
	}
}

.swiper-slide-prev,.swiper-slide-next {
	img {
		@media #{$desktop} {
		opacity: 50%;
		height: 60%;
		width: 60vw;
		transition: 1s;
		margin-top: 3%;
		}
	}
	
}

.swiper-button-next:after, .swiper-rtl .swiper-button-prev:after {
    content: url(../../img/icons/swiper-next.png);
	background-color: #fff;
	border-radius: 50%;
	padding: 10px 13px;
	line-height: 0;

	@media #{$desktop} {
		border: 1px solid black;
		margin-right: 10vw;
	}
}

.swiper-button-prev:after, .swiper-rtl .swiper-button-next:after {
    content: url(../../img/icons/swiper-prev.png);
	background-color: #fff;
	border-radius: 50%;
	padding: 10px 13px;
	line-height: 0;

	@media #{$desktop} {
		border: 1px solid black;
		margin-left: 10vw;
	}
}